<div>
    <style>
        .info-card {
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            padding: 10px;
            width: 300px;
        }

        .info-label {
            font-weight: bold;
        }
    </style>

    <div class="details-page">
        <h2>Extracted Resume Details</h2>
        <div class="info-label">Full Name: 
            <span>Rowan Wolf Osmon</span>
        </div>
        <div class="info-label">Email: <span>rowanosmon@gmail.com</span></div>
        <div class="info-label">Phone Number: <span>999-999-9999</span> </div>
        <div class="info-label">Bio Summary: <span>blah blah blah</span></div>
        <div class="info-label">Links: <ul>
                <div>
                    <span class="info-label">
                        <li>LinkedIn: http://linkedin.com/rowan</li>
                    </span>
                </div>
                <div>
                    <span class="info-label">
                        <li>Github: http://github.com/grumblefoot </li>
                    </span>
                </div>
                <div>
                    <span class="info-label">
                        <li>Website: grumblefoot.com</li>
                    </span>
                </div>
            </ul>
        </div>
        <div class="info-label">Job Experience:
            <ul>
                <div>
                    <span class="info-label">
                        <li>Company: Microsoft</li>
                    </span>
                </div>
                <div>
                    <span class="info-label">
                        <li>Date Range: 2017-present </li>
                    </span>
                </div>
                <div>
                    <span class="info-label">
                        <li>Summary: Did awesome stuff</li>
                    </span>
                </div>
            </ul>
        </div>
        <div class="info-label">Project Experiences:

            <ul>
                <div class="info-label">Project 1:
                    <ul>
                        <div>
                            <span class="info-label">
                                <li>Name: The things </li>
                            </span>
                        </div>
                        <div>
                            <span class="info-label">
                                <li>Link: thething.com </li>
                            </span>
                        </div>
                        <div>
                            <span class="info-label">
                                <li>Tech Stack: lots of tech </li>
                            </span>
                        </div>
                        <div>
                            <span class="info-label">
                                <li>Summary: it does the thing </li>
                            </span>
                        </div>
                    </ul>
                </div>
            </ul>

            <ul>
                <div class="info-label">Project 2:
                    <ul>
                        <div>
                            <span class="info-label">
                                <li>Name: That thing </li>
                            </span>
                        </div>
                        <div>
                            <span class="info-label">
                                <li>Link: thatthing.com </li>
                            </span>
                        </div>
                        <div>
                            <span class="info-label">
                                <li>Tech Stack: does all those things</li>
                            </span>
                        </div>
                        <div>
                            <span class="info-label">
                                <li>Summary: That thing is legit</li>
                            </span>
                        </div>
                    </ul>
                </div>
            </ul>
        </div>
        <div class="info-label">Skills:
            <ul>
                <div>
                    <span class="info-label">
                        <li>Programming Languages: knows lots of stuff </li>
                    </span>
                </div>
                <div>
                    <span class="info-label">
                        <li>Coursework Skills: studied lots of stuff </li>
                    </span>
                </div>
                <div>
                    <span class="info-label">
                        <li>Development Tools: used lots of stuff</li>
                    </span>
                </div>
                <div>
                    <span class="info-label">
                        <li>Experience: has seen lots of things</li>
                    </span>
                </div>
                <div>
                    <span class="info-label">
                        <li>Hobbies: does lots of things for fun</li>
                    </span>
                </div>
            </ul>
            
        
        </div>
        <div class="info-label">Certifications
            <div>
                <span class="info-label">
                    <ul>
                        <li>has all the certs</li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
</div>