<div>
    <style>
        .info-card {
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            padding: 10px;
            width: 300px;
        }

        .info-label {
            font-weight: bold;
        }
    </style>

    <div class="details-page">
        <h2>Extracted Resume Details</h2>
        <div class="info-label">Full Name: 
            <span>Rowan Wolf Osmon</span>
        </div>
        <div class="info-label">Email:<span>rowanosmon@gmail.com</span></div>
        <div class="info-label">Phone Number: <span>999-999-9999</span> </div>
        <div class="info-label">Bio Summary: <span>blah blah blah</span></div>
        <div class="info-label">Links: <input disabled/>            <ul>
                <div>
                    <span class="info-label">
                        <li>LinkedIn: </li>
                    </span>
                </div>
                <div>
                    <span class="info-label">
                        <li>Github: </li>
                    </span>
                </div>
                <div>
                    <span class="info-label">
                        <li>Website: </li>
                    </span>
                </div>
            </ul>
        </div>
        <div class="info-label">Job Experience:
            <ul>
                <div>
                    <span class="info-label">
                        <li>Company: </li>
                    </span>
                </div>
                <div>
                    <span class="info-label">
                        <li>Date Range: </li>
                    </span>
                </div>
                <div>
                    <span class="info-label">
                        <li>Summary: </li>
                    </span>
                </div>
            </ul>
        </div>
        <div class="info-label">Project Experiences:

            <ul>
                <div class="info-label">Project 1:
                    <ul>
                        <div>
                            <span class="info-label">
                                <li>Name: </li>
                            </span>
                        </div>
                        <div>
                            <span class="info-label">
                                <li>Link:  </li>
                            </span>
                        </div>
                        <div>
                            <span class="info-label">
                                <li>Tech Stack: </li>
                            </span>
                        </div>
                        <div>
                            <span class="info-label">
                                <li>Summary: </li>
                            </span>
                        </div>
                    </ul>
                </div>
            </ul>

            <ul>
                <div class="info-label">Project 2:
                    <ul>
                        <div>
                            <span class="info-label">
                                <li>Name: </li>
                            </span>
                        </div>
                        <div>
                            <span class="info-label">
                                <li>Link:  </li>
                            </span>
                        </div>
                        <div>
                            <span class="info-label">
                                <li>Tech Stack: </li>
                            </span>
                        </div>
                        <div>
                            <span class="info-label">
                                <li>Summary: </li>
                            </span>
                        </div>
                    </ul>
                </div>
            </ul>
        </div>
        <div class="info-label">Skills:
            <ul>
                <div>
                    <span class="info-label">
                        <li>Programming Languages: </li>
                    </span>
                </div>
                <div>
                    <span class="info-label">
                        <li>Coursework Skills:  </li>
                    </span>
                </div>
                <div>
                    <span class="info-label">
                        <li>Development Tools: </li>
                    </span>
                </div>
                <div>
                    <span class="info-label">
                        <li>Experience: </li>
                    </span>
                </div>
                <div>
                    <span class="info-label">
                        <li>Hobbies: </li>
                    </span>
                </div>
            </ul>
            
        
        </div>
        <div class="info-label">Certifications
            <div>
                <span class="info-label">
                    <ul>
                        <li></li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
</div>