<div>
    <style>
        #brief-description {
            width: 300px;
            height: 100px;
            border: 2px solid #ccc;
            text-align: center;
            padding: 20px;
            margin: 0 auto;
            border-radius: 20px;
        }

        form {
        margin: 5px 0;
        border: 2px solid #ccc;
        padding: 10px;
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
    }
    </style>

    <div id="brief-description">
        <p>Great! Now that we have your resume details, let see how resume wizard can magically enhance your resume to help you land your dream job. </p>
    </div>
    <form>
        <label>Please enter a job listing url link:</label>
        <input type="text" name="job_listing" />
        <button type="submit">Submit</button>
    </form>
</div>