<div>name: <%= person.first_name %>
</div>


<!-- Resume details -->
<section id="<%= person.person_id %>">
    <div>
        <div>name</div>
        <input type="text" value="name" disabled>
    </div>
    <div>
        <div>email</div>
        <input type="text" value="email" disabled>
    </div>
    <div>
        <div>phone</div>
        <input type="text" value="phone" disabled>
    </div>
    <div>
        <div>Web Link</div>
        <input type="text" value="web link 1" disabled>
    </div>
    <div>
        <div>Web Link</div>
        <input type="text" value="web link 2" disabled>
    </div>
    <div>
        <div>Web Link</div>
        <input type="text" value="web link 3" disabled>
    </div>
    <div>
        <div>title</div>
        <input type="text" value="title 4" disabled>
    </div>
    <div>
        <div>company</div>
        <input type="text" value="company 5" disabled>
    </div>
    <div>
        <div>key dates</div>
        <input type="text" value="key dates 6" disabled>
    </div>
    <div>
        <div>description</div>
        <input type="text" value="description 7" disabled>
    </div>
    <div>
        <div>edu name</div>
        <input type="text" value="edu name" disabled>
    </div>
    <div>
        <div>edu degree</div>
        <input type="text" value="edu degree" disabled>
    </div>
    <div>
        <div>edu major</div>
        <input type="text" value="edu major" disabled>
    </div>
    <div>
        <div>edu grad dates</div>
        <input type="text" value="edu grad dates" disabled>
    </div>
</section>