.final-homepage {
    background-color: #2f243a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  body {
    margin: 0;
  }
  
  .final-homepage .div {
    background-color: #2f243a;
    width: 1440px;
    /* height: 882px; */
    height: 707.5px;
    position: relative;
  }
  
  .final-homepage .overlap {
    position: absolute;
    width: 1424px;
    height: 178px;
    top: 0;
    left: 16px;
    background-image: url(/public/images/top-circuits.png);
    background-size: 100% 100%;
  }
  
  .final-homepage .overlap-group {
    position: absolute;
    width: 274px;
    height: 90px;
    top: 32px;
    left: 82px;
  }
  
  .final-homepage .resume-wizard {
    position: absolute;
    width: 215px;
    height: 71px;
    top: 9px;
    left: 59px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #fffffc;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: none;
  }
  
  .final-homepage .small-wand {
    width: 90px;
    height: 90px;
    left: 0;
    position: absolute;
    top: 0;
    object-fit: cover;
  }
  
  .final-homepage .home {
    position: absolute;
    width: 110px;
    height: 71px;
    top: 41px;
    left: 873px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #fffffc99;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: none;
  }

  .final-homepage .home:hover {
    color: #fffffc;
  }
  
  .final-homepage .overlap-2 {
    position: absolute;
    width: 385px;
    height: 71px;
    top: 41px;
    left: 983px;
  }
  
  .final-homepage .analyze-resume {
    position: absolute;
    width: 215px;
    height: 71px;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #fffffc99;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: none;
  }

  .final-homepage .analyze-resume:hover {
    color: #fffffc;
  }
  
  .final-homepage .settings {
    position: absolute;
    width: 215px;
    height: 71px;
    top: 0;
    left: 170px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #fffffc99;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: none;
  }
  .final-homepage .settings:hover {
    color: #fffffc;
  }
  
  .final-homepage .overlap-3 {
    position: absolute;
    width: 1440px;
    height: 620px;
    /* top: 199px; */
    top: 80px;
    left: 0;
  }
  
  .final-homepage .LET-RESUME-WIZARD-DO {
    position: absolute;
    width: 660px;
    height: 138px;
    top: 0;
    left: 179px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #fffffc;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .final-homepage .span {
    font-weight: 700;
  }
  
  .final-homepage .text-wrapper-4 {
    font-weight: 700;
    font-style: italic;
  }
  
  .final-homepage .within-the-realm-of {
    position: absolute;
    width: 660px;
    top: 138px;
    left: 179px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #fffffc;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .final-homepage .overlap-group-2 {
    position: absolute;
    width: 200px;
    height: 59px;
    top: 266px;
    left: 179px;
  }
  
  /* .final-homepage .icon {
    position: absolute;
    width: 200px;
    height: 56px;
    top: 3px;
    left: 0;
    border-radius: 7px;
    border: 3px solid;
    border-color: rgba(160, 95, 131, 1);
  } */
  
  .final-homepage .start-button {
    position: absolute;
    width: 200px;
    height: 58px;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    background-color: #2f243a;
    color: #fffffc;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    width: 200px;
    height: 56px;
    top: 3px;
    left: 0;
    border-radius: 7px;
    border: 3px solid;
    border-color: rgba(160, 95, 131, 1);
    cursor: pointer;
  }

  .final-homepage .start-button:hover {
    cursor: pointer;
  }

  
  .final-homepage .overlap-4 {
    position: absolute;
    width: 1440px;
    height: 672px;
    top: 11px;
    left: 0;
  }
  
  .final-homepage .img {
    width: 461px;
    height: 461px;
    left: 865px;
    position: absolute;
    top: 0;
    object-fit: cover;
  }
  
  .final-homepage .upload-resume-and {
    position: absolute;
    top: 471px;
    left: 179px;
    opacity: 0.6;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .final-homepage .AI-tool-analyzes {
    position: absolute;
    top: 471px;
    left: 368px;
    opacity: 0.6;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .final-homepage .view-recommended {
    position: absolute;
    top: 471px;
    left: 561px;
    opacity: 0.6;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .final-homepage .upload-icon {
    position: absolute;
    width: 56px;
    height: 70px;
    top: 376px;
    left: 212px;
  }
  
  .final-homepage .view-recs-icon {
    position: absolute;
    width: 61px;
    height: 73px;
    top: 373px;
    left: 609px;
  }
  
  .final-homepage .magic-wand {
    position: absolute;
    width: 66px;
    height: 66px;
    top: 378px;
    left: 404px;
  }
  
  .final-homepage .bottom-circuits {
    position: absolute;
    width: 1440px;
    height: 242px;
    top: 373px;
    left: 0;
  }
  