body {
  background-color: #2f243a;
  min-height: 100vh;
  font-family: 'Inconsolata', monospace;
  font-family: 'Inter', sans-serif;
  color: #fffffc;
}

.italic {
  font-style: italic;
}

/* Top Image */
.top-image {
  background-image: url('/images/top-circuits.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px; /* Adjust the height as needed */
  position: absolute;
  top: 0;
  z-index: -1; /* Behind the content */
}

/* Bottom Image */
.bottom-image {
  background-image: url('/images/bottom-circuits.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  position: absolute;
  bottom: 0;
  z-index: -1; /* Behind the content */
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1% 5%;
  font-size: 18px;
}

.resume-wizard {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  top: 0;
}

.left-link {
  order: 1; /* Make it appear first on the left */
}

.right-links {
  order: 2; /* Make the right links appear after the left link */
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

/* MAIN CONTENT */

.main {
  margin: 10%;
  margin-top: 4%;
}

h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 15px;
}

p {
  font-size: 20px;
  opacity: 0.8;
}

button {
  background-color: #a05f83;
  border: none;
  color: white;
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
}

.big-logo {
  width: 450px;
  margin-left: 20px;
}

.icons {
  width: 80px;
}

.magic-wand {
  width: 100px;
}

.view-recs {
  width: 85px;
}

.icons-section {
  margin-top: 20px;
}

.icon-text {
  margin-top: 20px;
  font-weight: 500;
}

/* Float Animation */
@keyframes float-rotate {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(-10deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.big-logo {
  overflow: hidden;
  transform: translateY(0px) rotate(-20deg);
  animation: float-rotate 3s ease-in-out infinite;
  animation-fill-mode: forwards;
}
