<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/public/style/style.css" />
    <title>Resume Wizard</title>
  </head>
  <body>
    <div id="main">
      <div>
        <a class="resume-wizard" href="/">Resume Wizard</a>
        <img
          class="small-wand"
          src="/public/images/small-wand.png"
          style="top: -20px;"
        />
        <a class="analyze-resume" href="/app">Analyze Resume</a>
        <a class="settings" href="/settings">Settings</a>
      </div>
      <div>
        <h1>LET THE RESUME WIZARD DO THE MAGIC FOR YOU</h1>
        <p>
          Within the realm of web applications, meet the Resume Wizard. It
          employs the web's prowess to align your skills with job descriptions
          and deploys AI enhancements to bolster your resume's prospects with
          utmost sophistication
        </p>
        <button href="/app">Start</button>
      </div>
      <div class="overlap-4">
        <img class="img" src="/public/images/logo-wand-big.png" />
        <div class="upload-resume-and">
          Upload Resume
          <br />
          and job listing
        </div>
        <div class="AI-tool-analyzes">
          AI tool analyzes
          <br />
          your submissions
        </div>
        <div class="view-recommended">
          View recommended
          <br />
          improvements
        </div>
        <img class="upload-icon" src="/public/images/upload-icon.png" />
        <img class="view-recs-icon" src="/public/images/view-recs-icon.png" />
        <img class="magic-wand" src="/public/images/magic-wand.png" />
        <img class="bottom-circuits" src="/public/images/bottom-circuits.png" />
      </div>
    </div>
    <div class="footer"></div>
  </body>
</html>
